{% extends 'sicpej/base.html' %}

{% block title %}Listado de Paquetes: {{ organo_jurisdiccional_actual.nombre }}, {{ organo_jurisdiccional_actual.municipio.descripcion }}{% endblock %}

{% block content %}
{% include "paquete/paquete_breadcrumb.html" %}

{% include "html/alert.html" %}

<style>
    .toggle-extensiones:hover{
        cursor: pointer;
    }
</style>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                {% if not user.configuracion.es_usuario_consulta and not user.configuracion.es_capturista_regional %}
                <h5 class="card-title">Lista de paquetes: {{ organo_jurisdiccional_actual.nombre }}, {{ organo_jurisdiccional_actual.municipio.descripcion }}. </h5>
                {% else %}
                    <h5 class="card-title">Lista de paquetes</h5>
                {% endif %}
            </div>
            {% if not user.configuracion.es_usuario_consulta and not user.configuracion.es_capturista_regional %}
            <div class="col-sm-12 d-flex justify-content-end">
                <a href="{% url 'gestion:nuevo_paquete' %}" class="btn btn-primary">
                    Nuevo paquete
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
    {% include "paquete/filtros/filtro_lista_paquetes.html" %}
<hr>

<form method="post" id="asignarPaquetePerfil" action="{% url 'gestion:asignar_paquetes' %}">
{% csrf_token %}

        {% if not user.configuracion.es_usuario_consulta and not user.configuracion.es_capturista_regional %}
        <div class="row">
            <div class="col-sm-12 d-flex justify-content-end mb-3">
                <button type="button" class="btn btn-primary me-2 waves-effect waves-light me-2" id="submitBtn">
                        <i class="fas fa-save"></i> Asignar Paquete(s)
                </button>
            </div>
        </div>
        {% endif %}

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        {% if not user.configuracion.es_usuario_consulta %} <th></th> {% endif %}
                        <th>Clave Paquete</th>
                        <th>Organo jurisdiccional</th>
                        <th style="width: 150px;">Cantidad de expedientes</th>
                        <th>Topografía</th>
                        {% if not user.configuracion.es_capturista_regional %} <th>Estado</th>{% endif %}
                        {% if user.configuracion.es_usuario_consulta %} <th>Órgano jurisdiccional</th> {% endif %}
                        <th>Fecha Registro</th>
                        <th>Medida</th>
                        <th style="width: 250px;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paquete in paquetes %}
                    <tr class="paquete-row" data-paquete="{{ paquete.pk }}">
                        {% if not user.configuracion.es_usuario_consulta and not user.configuracion.es_capturista_regional %}
                        <td>
                            <input type="checkbox" name="expediente" id="expediente_{{ paquete.pk }}" value="{{ paquete.pk }}" />
                        </td>
                        {% endif %}
                        <td>
                            {% if paquete.tiene_extension %}
                                <p class="toggle-extensiones" style="display: inline-block; font-size: 10px;" data-target="{{ paquete.pk }}">
                                    ▼
                                </p>
                            {% endif %}
                            {{ paquete.clave_paquete }}
                        </td>
                        <td>{{ paquete.organo_jurisdiccional }}</td>
                        <td>{{ paquete.num_expedientes }}</td>
                        <td>{{ paquete.topografia|default:'-' }}</td>
                        {% if not user.configuracion.es_capturista_regional %}
                        <td>
                            <span class="badge 
                                {% if paquete.estatus == 1 %}bg-info
                                {% elif paquete.estatus == 2 %}bg-warning
                                {% else %}bg-success
                                {% endif %}">
                                {{ paquete.get_estatus_display }}
                            </span> <br>
                            
                            {% if paquete.asignacion %}
                                Asignado a : {{ paquete.asignacion.first.usuario_perfil.perfil.nombre }} ({{ paquete.asignacion.first.usuario_perfil.usuario.first_name }} {{ paquete.asignacion.first.usuario_perfil.usuario.last_name }})
                                {% if not paquete.asignacion.first.usuario_perfil.estatus == 1 %}
                                    — 
                                    <span class="{% if paquete.asignacion.first.usuario_perfil.estatus == 1 %}text-success{% else %}text-danger{% endif %}">
                                        
                                            Inactivo
                                        
                                    </span>
                                {% endif %}
                            {% endif %}
                        </td>
                        {% endif %}
                        {% if user.configuracion.es_usuario_consulta %}
                        <td>{{ paquete.organo_jurisdiccional }}</td>
                        {% endif %}
                        <td>{{ paquete.fecha_registro|date:"d/m/Y" }}</td>
                        <td>{{ paquete.total_medida_centimetros }} </td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a href="{% url 'gestion:ver_paquete' paquete.pk %}" class="btn btn-info" title="Ver">
                                    <i class="icon-base ri ri-folder-transfer-line icon-16px"></i>
                                </a>
                                {% if paquete.ultimo %}
                                    {% if not user.configuracion.es_usuario_consulta and not user.configuracion.es_capturista_regional %}
                                    <a href="#" class="btn btn-primary" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#confirmModalNuevoExpediente"
                                        data-url="{% url 'gestion:crear_extension_paquete' paquete.id %}"
                                        data-clave="{{ paquete.clave_paquete }}">
                                        <i class="icon-base ri ri-file-add-line icon-16px"></i>
                                    </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            {% if not user.configuracion.es_usuario_consulta %}
                            <a href="{% url 'gestion:editar_paquete' paquete.pk %}" class="btn btn-primary" title="Editar">
                                <i class="icon-base ri ri-map-pin-add-fill icon-16px"></i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>

                        {# FILAS DE EXTENSIONES (OCULTAS AL INICIO) #}
                        {% for ext in paquete.paquetes_extension %}
                            <tr class="extension-row extension-of-{{ paquete.pk }}" style="display:none;">
                                {% if not user.configuracion.es_usuario_consulta and not user.configuracion.es_capturista_regional %}
                                <td>
                                    <input type="checkbox" name="expediente" id="expediente_{{ ext.pk }}" value="{{ ext.pk }}" />
                                </td>
                                {% endif %}
                                <td> ↳ {{ ext.clave_paquete }} </td>
                                <td>{{ ext.organo_jurisdiccional }}</td>
                                <td>{{ ext.num_expedientes }}</td>
                                <td>{{ ext.topografia|default:'' }}</td>
                                {% if not user.configuracion.es_capturista_regional %}
                                <td>
                                    <span class="badge 
                                        {% if ext.estatus == 1 %}bg-info
                                        {% elif ext.estatus == 2 %}bg-warning
                                        {% else %}bg-success
                                        {% endif %}">
                                        {{ ext.get_estatus_display }}
                                    </span>
                                    {% if ext.asignacion %}
                                        Asignado a : {{ ext.asignacion.first.usuario_perfil.perfil.nombre }} ({{ ext.asignacion.first.usuario_perfil.usuario.first_name }} {{ ext.asignacion.first.usuario_perfil.usuario.last_name }})

                                        {% if not ext.asignacion.first.usuario_perfil.estatus == 1 %}
                                            —
                                            <span class="{% if ext.asignacion.first.usuario_perfil.estatus == 1 %}text-success{% else %}text-danger{% endif %}">
                                                
                                                    Inactivo
                                                
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                {% endif %}
                                {% if user.configuracion.es_usuario_consulta %}
                                <td>{{ ext.organo_jurisdiccional }}</td>
                                {% endif %}
                                <td>{{ ext.fecha_registro|date:"d/m/Y" }}</td>
                                <td>{{ ext.total_medida_centimetros }}</td>
                                <td>
                                    
                                    <a href="{% url 'gestion:ver_paquete' ext.pk %}" class="btn btn-info btn-sm">
                                        <i class="icon-base ri ri-folder-transfer-line icon-16px"></i>
                                    </a>
                                    {% if ext.ultimo %}
                                        {% if not user.configuracion.es_usuario_consulta and not user.configuracion.es_capturista_regional %}
                                        <a href="#" class="btn btn-primary" 
                                            data-bs-toggle="modal" 
                                            data-bs-target="#confirmModalNuevoExpediente"
                                            data-url="{% url 'gestion:crear_extension_paquete' ext.id %}"
                                            data-clave="{{ ext.clave_paquete }}">
                                            <i class="icon-base ri ri-file-add-line icon-16px"></i>
                                        </a>
                                        {% endif %}
                                    {% endif %}

                                    {% if not user.configuracion.es_usuario_consulta %}
                                        <a href="{% url 'gestion:editar_paquete' ext.pk %}" class="btn btn-primary" title="Editar">
                                            <i class="icon-base ri ri-map-pin-add-fill icon-16px"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        {% if is_paginated %}
        <div class="card-footer">
            <div class="row">
                <div class="col-md-12 m-5">
                    {% include 'sicpej/partials/paginacion.html' %}
                </div>
            </div>
        </div>
        {% endif %}
        {% include "paquete/modals/modal_asignar_perfil_paquete.html" %}
        {% include "paquete/modals/modal_confirm_extension_paquete.html" %}
    </div>
</div>

</form>

{% endblock %}

{% block javascript %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Buscar todos los inputs cuyo ID comience con "flatpickr-"
    document.querySelectorAll("input[id^='flatpickr-']").forEach(function (input) {
      flatpickr(input, {
        monthSelectorType: "static",
        static: true
      });
    });
  });
</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    let redirectUrl = null;

    // Captura el botón que abre el modal
    const modal = document.getElementById('confirmModalNuevoExpediente');
    modal.addEventListener('show.bs.modal', function (event) {
        const triggerButton = event.relatedTarget;

        redirectUrl = triggerButton.getAttribute('data-url');
        document.getElementById('paqueteClave').textContent = triggerButton.getAttribute('data-clave');
    });

    // Cuando el usuario hace clic en confirmar
    const confirmBtn = document.getElementById('confirmSubmit');
    confirmBtn.addEventListener('click', function () {
        if (redirectUrl) {
            window.location.href = redirectUrl;
        }
    });
});


document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".toggle-extensiones").forEach(btn => {
        btn.addEventListener("click", function () {
            let targetId = this.getAttribute("data-target");
            let rows = document.querySelectorAll(".extension-of-" + targetId);

            rows.forEach(row => {
                row.style.display = row.style.display === "none" ? "table-row" : "none";
            });

            // Cambiar icono (▼ / ▲)
            this.textContent = this.textContent.includes("▼") 
                ? this.textContent.replace("▼", "▲") 
                : this.textContent.replace("▲", "▼");
        });
    });
});

{% if not user.configuracion.es_usuario_consulta %}
document.addEventListener('DOMContentLoaded', function() {
    const submitBtn = document.getElementById('submitBtn');
    const confirmModal = new bootstrap.Modal(document.getElementById('confirmModal'));
    const confirmSubmitAsignacionPaquete = document.getElementById('confirmSubmitAsignacionPaquete');
    const asignarPaquetePerfil = document.getElementById('asignarPaquetePerfil');

    submitBtn.addEventListener('click', function(e) {
        e.preventDefault();
        confirmModal.show();
    });

    confirmSubmitAsignacionPaquete.addEventListener('click', function(e) {
        e.preventDefault();

        var seleccionados = document.querySelectorAll('input[name="expediente"]:checked');
        if (seleccionados.length === 0) {
            e.preventDefault();
            alert('Debe seleccionar al menos un expediente.');
            return;
        }

        var selectPerfil = document.getElementById('id_usuario_perfil');

        if (!selectPerfil.value) {
            alert('Por favor seleccione un perfil antes de continuar.');
            selectPerfil.focus();
            return;
        }

        asignarPaquetePerfil.submit();
        submitBtn.innerHTML = '<i class="fas fa-spinner fa-spin"></i> Procesando, espere...';
        submitBtn.disabled = true;
    });

    $('#id_usuario_perfil').on('change', function() {
        var id_usuario_perfil = $(this).val();
        var url = '{% url "gestion:api_nombre_usuario_perfil" %}';

        if (!id_usuario_perfil) {
            $('#nombre_usuario').text("");
            return;
        }

        $.ajax({
            url: url,
            data: { id_usuario_perfil: id_usuario_perfil },
            dataType: 'json',
            success: function(data) {
                console.log(data.results)
                // nombre_usuario
                var nombreUsuarioPerfil = data.results[0].text;
                $('#nombre_usuario').text(nombreUsuarioPerfil);
            },
            error: function(xhr) {
                console.error('Error al cargar los datos:', xhr);
            }
        });
    });   
});
{% endif %}

</script>
{% endblock %}