

{% load static %}

<!doctype html>

<html
  lang="en"
  class="layout-navbar-fixed layout-menu-fixed layout-compact"
  dir="ltr"
  data-skin="default"
  data-bs-theme="light"
  data-assets-path="../../assets_sicpej/"
  data-template="vertical-menu-template">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />
    <title>{% block title %}Sistema de Inventario y Control de Prestamos de Expedientes Judiciales - TSJ Tabasco {% endblock %}</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets_sicpej/img/favicon/favicon.ico' %}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'assets_sicpej/vendor/fonts/iconify-icons.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'assets_sicpej/vendor/libs/node-waves/node-waves.css' %}" />
    <link rel="stylesheet" href="{% static 'assets_sicpej/vendor/libs/pickr/pickr-themes.css' %}" />
    <link rel="stylesheet" href="{% static 'assets_sicpej/vendor/css/core.css' %}" />
    <link rel="stylesheet" href="{% static 'assets_sicpej/css/demo.css' %}" />

    <link rel="stylesheet" href="{% static 'assets_sicpej/vendor/libs/quill/katex.css' %}" />
    <link rel="stylesheet" href="{% static 'assets_sicpej/vendor/libs/quill/editor.css' %}" />
    <link rel="stylesheet" href="{% static 'assets_sicpej/vendor/libs/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'assets_sicpej/vendor/libs/flatpickr/flatpickr.css' %}" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="{% static 'assets_sicpej/vendor/css/pages/app-email.css' %}" />

    <!-- Helpers -->
    <script src="{% static 'assets_sicpej/vendor/js/helpers.js' %}"></script>


    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'assets_sicpej/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets_sicpej/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'assets_sicpej/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'assets_sicpej/vendor/libs/swiper/swiper.css' %}" />
    <link rel="stylesheet" href="{% static 'assets_sicpej/vendor/libs/apex-charts/apex-charts.css' %}" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="{% static 'assets_sicpej/vendor/css/pages/cards-statistics.css' %}" />

    <!-- Helpers -->
    <script src="{% static 'assets_sicpej/vendor/js/helpers.js' %}"></script>
    <script src="{% static 'assets_sicpej/js/config.js' %}"></script>
    <style>
      .layout-menu{
        
      }
    </style>

  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
		    {% include 'sicpej/sidebar.html' %}
        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar-detached navbar navbar-expand-xl align-items-center bg-navbar-theme"
            id="layout-navbar">
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
                <i class="icon-base ri ri-menu-line icon-22px"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center justify-content-end" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="mb-0">
                  <a class="px-0" href="javascript:void(0);" style="font-size: 1.3em; font-weight: bold;">
                    <span class="d-inline-block" id="autocomplete" style="color: #002c6f !important; font-weight: bold;">
                      Sistema de Inventario y Control de Prestamos de Expedientes Judiciales - TSJ Tabasco
                      <img src="{% static "assets_sicpej/img/favicon-32x32.png" %}" alt="" width="30" height="30">
                    </span>
                  </a>
                </div>
              </div>

              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-md-auto">

                <!-- Style Switcher -->
                <li class="nav-item dropdown me-sm-2 me-xl-0">
                  <a
                    class="nav-link dropdown-toggle hide-arrow btn btn-icon btn-text-secondary rounded-pill"
                    id="nav-theme"
                    href="javascript:void(0);"
                    data-bs-toggle="dropdown">
                    <i class="icon-base ri ri-sun-line icon-22px theme-icon-active"></i>
                    <span class="d-none ms-2" id="nav-theme-text">Toggle theme</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="nav-theme-text">
                    <li>
                      <button
                        type="button"
                        class="dropdown-item align-items-center active"
                        data-bs-theme-value="light"
                        aria-pressed="false">
                        <span><i class="icon-base ri ri-sun-line icon-22px me-3" data-icon="sun-line"></i>Light</span>
                      </button>
                    </li>
                    <li>
                      <button
                        type="button"
                        class="dropdown-item align-items-center"
                        data-bs-theme-value="dark"
                        aria-pressed="true">
                        <span
                          ><i class="icon-base ri ri-moon-clear-line icon-22px me-3" data-icon="moon-clear-line"></i
                          >Dark</span
                        >
                      </button>
                    </li>
                  </ul>
                </li>
                <!-- / Style Switcher-->

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="{% static "assets_sicpej/img/favicon-32x32.png" %}" alt="avatar" class="rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end mt-3 py-2">
                    <li>
                      <a class="dropdown-item" href="pages-account-settings-account.html">
                        <div class="d-flex align-items-center">
                          <div class="flex-shrink-0 me-2">
                            <div class="avatar avatar-online">
                              <img
                                src="{% static "assets/img/user.png" %}"
                                alt="alt"
                                class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <h6 class="mb-0 small">{{ request.user.username }}</h6>
                            <small class="text-body-secondary">User</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                                        
                    <li>
                      <div class="d-grid px-4 pt-2 pb-1">
                        
                        <form method="post" action="{% url 'logout' %}" class="d-grid px-4 pt-2 pb-1">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-sm btn-danger d-flex">
                            <small class="align-middle">Salir</small>
                            <i class="icon-base ri ri-logout-box-r-line ms-2 icon-16px"></i>
                          </button>
                        </form>
                      </div>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              {% block content %}
              <!-- Contenido por defecto -->
              {% endblock %}
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl">
                <div
                  class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
                  <div class="mb-2 mb-md-0">
                    &#169;
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    
                  </div>

                  <div class="d-none d-lg-inline-block">
                    
                  </div>
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->

    <!-- build:js assets_sicpej/vendor/js/theme.js  -->

    <script src="{% static 'assets_sicpej/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets_sicpej/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets_sicpej/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets_sicpej/vendor/libs/node-waves/node-waves.js' %}"></script>
    <script src="{% static 'assets_sicpej/vendor/libs/@algolia/autocomplete-js.js' %}"></script>
    <script src="{% static 'assets_sicpej/vendor/libs/pickr/pickr.js' %}"></script>
    <script src="{% static 'assets_sicpej/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets_sicpej/vendor/libs/hammer/hammer.js' %}"></script>
    <script src="{% static 'assets_sicpej/vendor/libs/i18n/i18n.js' %}"></script>
    <script src="{% static 'assets_sicpej/vendor/js/menu.js' %}"></script>

    <!-- Vendors JS -->
    <script src="{% static 'assets_sicpej/vendor/libs/quill/katex.js' %}"></script>
    <script src="{% static 'assets_sicpej/vendor/libs/quill/quill.js' %}"></script>
    <script src="{% static 'assets_sicpej/vendor/libs/select2/select2.js' %}"></script>
    <script src="{% static 'assets_sicpej/vendor/libs/notiflix/notiflix.js' %}"></script>
    <script src="{% static 'assets_sicpej/vendor/libs/flatpickr/flatpickr.js' %}"></script>

    <link rel="stylesheet" href="{% static 'assets_sicpej/vendor/libs/bs-stepper/bs-stepper.css' %}" />
    <script src="{% static 'assets_sicpej/vendor/libs/bs-stepper/bs-stepper.js' %}"></script>


    <!-- Main JS -->
    <script src="{% static 'assets_sicpej/js/main.js' %}"></script>
    <script src="{% static 'assets_sicpej/js/form-layouts.js' %}"></script>

    {% block javascript %}{% endblock %}

  </body>
</html>
