<!-- Modal de Confirmación -->
<div class="modal fade" id="confirmModalNuevoExpediente" tabindex="-1" aria-hidden="true" style="text-align: center;">
    <div class="modal-dialog modal-dialog-centered1 modal-simple modal-add-new-cc">
        <div class="modal-content">
        <div class="modal-body p-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            {%if not user.configuracion.es_capturista_regional %}
                {% if organo_jurisdiccional_actual.pk != paquete.organo_jurisdiccional.pk %}
                    <p><strong>ADVERTENCIA: <br>  <span>El organo jurisdiccional seleccionado no es el mismo que el del paquete </span></strong><br>
                        {% if user.is_superuser %}
                            Organo jurisdiccional seleccionado(sesión): {{ organo_jurisdiccional_actual.nombre }}, {{ organo_jurisdiccional_actual.municipio.descripcion }}
                        {% else %}
                            Organo jurisdiccional del usuario: {{ organo_jurisdiccional_actual.nombre }}, {{ organo_jurisdiccional_actual.municipio.descripcion }} 
                        {% endif %}
                        <br>
                        Organo jurisdiccional del paquete: {{ paquete.organo_jurisdiccional.nombre }}, {{ paquete.organo_jurisdiccional.municipio.descripcion }}
                    </p>
                {% endif %}
            {% endif %}
            <p class="mt-5 mb-5">¿Está seguro que desea registrar un nuevo expediente para el <br> <b> paquete #{{ paquete.clave_paquete }} </b> del <strong>{{ paquete.organo_jurisdiccional.nombre }}, {{ paquete.organo_jurisdiccional.municipio.descripcion }}</strong>?</p>
            
            <div class="col-12 d-flex flex-wrap justify-content-center gap-4 row-gap-4 mt-5">
                <button type="button" class="btn btn-primary" id="confirmSubmit">
                    <i class="fas fa-check"></i> Confirmar Registro
                </button>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times"></i> Cancelar
                </button>
            </div>
        </div>
        </div>
    </div>
</div>