{% extends 'sicpej/base.html' %}

{% block title %}{{ accion }} juzgado{% endblock %}

{% block content %}
<div class="col-md-9 offset-md-1">
  <div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="mb-0">{{ titulo }}</h5>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}

        <div class="row mb-4">
        {% for field in form %}
        
              {% if field.name in form.one_column_fields %}
                <div class="col-12 mb-5">
              {% elif field.name in form.two_column_fields %}
                <div class="col-md-6 mb-5">
              {% elif field.name in form.three_column_fields %}
                <div class="col-md-4 mb-5">
              {% elif field.name in form.four_column_fields %}
                <div class="col-md-3 mb-5">
              {% else %}
                <div class="col-12 mb-5">
              {% endif %}
                  <div class="row">
                  
                  {% if field.name in form.two_column_fields %}
                    <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label">{{ field.label }}</label>
                    <div class="col-sm-8">
                  {% else %}
                    <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                    <div class="col-sm-10">
                  {% endif %}
                  
                    {% if field.name == 'municipio' or field.name == 'archivo_regional' or field.name == 'tipo_juzgado' or field.name == 'materia' or field.name == 'estatus' or field.name == 'instancia' %}
                      <select name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-select {% if field.errors %}is-invalid{% endif %} select2" required>
                        {% for value, label in field.field.choices %}
                          <option value="{{ value }}" {% if value == field.value %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                      </select>
                    {% elif field.name == 'region_judicial' or field.name == 'distrito_judicial' %}
                      <select name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-select {% if field.errors %}is-invalid{% endif %} select2">
                        {% for value, label in field.field.choices %}
                          <option value="{{ value }}" {% if value == field.value %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                      </select>
                    {% else %}
                      {{ field }}
                    {% endif %}

                    {% if field.help_text %}
                      <div class="form-text">{{ field.help_text }}</div>
                    {% endif %}

                    {% for error in field.errors %}
                      <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                  </div>
                  </div>
              
            
            </div>
        {% endfor %}
        </div>

        <div class="row justify-content-end">
            <div class="col-sm-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary waves-effect waves-light me-2">{{ accion }}</button>
                <a href="{% url 'administracion:lista_organosjurisdiccionales' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}