{% extends 'sicpej/base.html' %}

{% block title %}Lista de juzgados{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-10">
                <h5>Lista de juzgados</h5>
            </div>
            <div class="col-md-2 text-right">
                <a href="{% url 'administracion:nuevo_juzgado' %}" class="btn btn-primary mt-4">Nuevo juzgado</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Archivo Regional</th>
                        <th>Municipio</th>
                        <th>Materia</th>
                        <th>Estatus</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for juzgado in juzgados %}
                    <tr>
                        <td>{{ juzgado.nombre }}</td>
                        <td>{{ juzgado.archivo_regional.nombre }}</td>
                        <td>{{ juzgado.municipio.descripcion }}</td>
                        <td>{{ juzgado.materia|default:"-"  }}</td>
                        <td>
                            {% if juzgado.estatus == 1 %}
                                <span class="badge rounded-pill bg-label-primary me-1">{{ juzgado.get_estatus_display }}</span>
                            {% else %}
                                <span class="badge rounded-pill bg-label-dark me-1">Inactivo</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'administracion:editar_juzgado' juzgado.pk %}" class="btn btn-primary waves-effect waves-light">Editar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if is_paginated %}
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12 m-5">
                        {% include 'sicpej/partials/paginacion.html' %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}